<!DOCTYPE html>
<html>
  <head>
    <title>Add Map</title>
    <style>
      /* Set the size of the div element that contains the map */
      #map {
          height: 400px;
          /* The height is 400 pixels */
          width: 100%;
          /* The width is the width of the web page */
        }
    </style>
    <script>
    let map;

function initMap() {
  map = new google.maps.Map(document.getElementById("map"), {
    zoom: 2,
    center: new google.maps.LatLng(2.8, -187.3),
    mapTypeId: "terrain",
  });

  // Create a <script> tag and set the USGS URL as the source.
  const script = document.createElement("script");

  // Create a <script> tag and set the USGS URL as the source.
  const script2 = document.createElement("script2");


  // This example uses a local copy of the GeoJSON stored at
  // http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_week.geojsonp
  script.src = "/reporteria/proyectosMaps";

  //script2.src = "/reporteria/proyectosMaps";

  document.getElementsByTagName("head")[0].appendChild(script);

   for (let i = 0; i < info.length; i++) {
     if ( i == 5)
     {
       alert(info[i]);
     }
   }

  
}

// Loop through the results array and place a marker for each
// set of coordinates.
const eqfeed_callback = function (results) {
  for (let i = 0; i < results.features.length; i++) {
    const coords = results.features[i].geometry.coordinates;
    const latLng = new google.maps.LatLng(coords[1], coords[0]);

    new google.maps.Marker({
      position: latLng,
      map: map,
    });
  }
};
    </script>
  </head>
  <body>
    <div id="map"></div>
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZ8ydxgmjej61U9Le6TETnHLvBoFNQ0Hc&callback=initMap&v=weekly" async></script>
  </body>
</html>