<div class="form-group row">
    <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Emisor"> <b>Estado:</b></label>
        <div class="col-md-6 col-sm-6">
            <select class="select2_single form-control" tabindex="1" name="id_estado" id="id_estado">
                <option value="">Seleccione</option>
                {{#each estados}}
                <option value="{{id}}">{{razonsocial}}</option>
                {{/each}}
        </select>
    </div>
</div>
<div class="form-group row">
    <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Emisor"> <b>Empresa:</b></label>
        <div class="col-md-6 col-sm-6">
            <select class="select2_single form-control" tabindex="2" name="id_empresa" id="id_empresa">
                <option value="">Seleccione</option>
                {{#each estados}}
                <option value="{{id}}">{{razonsocial}}</option>
                {{/each}}
        </select>
    </div>
</div>
<div class="form-group row">
    <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Emisor"> <b>Nº Factura:</b></label>
        <div class="col-md-6 col-sm-6">
             <input type="text" id="numFactura" name="numFactura"  class="form-control">
        </div>
</div>
<div class="form-group row">
    <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Emisor"> <b>Fecha Emision Factura:</b></label>
        <div class="col-md-6 col-sm-6">
             <input type="date" id="fechaEmision" name="fechaEmision"  class="form-control">
        </div>
</div>
<div class="form-group row">
    <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Emisor"> <b>Valor UF:</b></label>
        <div class="col-md-6 col-sm-6">
             <input type="text" id="valoruf" name="valoruf"  class="form-control">
        </div>
</div>
<div class="form-group row">
    <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Emisor"> <b>Comentario Para Cobro:</b></label>
        <div class="col-md-6 col-sm-6">
              <textarea class="form-control" id="comentarioParaCobro" name="comentarioParaCobro"></textarea>
        </div>
</div>
<div class="form-group row">
    <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Emisor"> <b>Fecha pago Factura:</b></label>
        <div class="col-md-6 col-sm-6">
             <input type="date" id="fechaPago" name="fechaPago"  class="form-control">
        </div>
</div>
<div class="form-group row">
    <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Emisor"> <b>Comentario En Cobranza:</b></label>
        <div class="col-md-6 col-sm-6">
              <textarea class="form-control" id="comentarioEnCobranza" name="comentarioEnCobranza"></textarea>
        </div>
</div>
<div class="form-group row">
    <div class="col-sm-4">
    </div>
     <div class="col-sm-5">
        <button type="button" class="btn btn-success">Actualizar</button>
   </div>
</div>