	 <table class="table table-hover" id="example" class="display">
	    <thead>
			<tr>
			  	<th> Nombre 	</th>
				<th> Télefono</th>
				<th> Mail 		</th>
				<th> Comentario	</th>
			</tr>
		</thead>
	    <tbody>
            {{#each nombreSimilar}}
                <tr>
                    <td style="text-align: center;">{{name}}</td>
                    <td style="text-align: center;">{{phone}}</td>
                    <td style="text-align: center;">{{email}}</td>
                    <td style="text-align: center;">{{comments}}</td>
                </tr>
            {{/each}} 
		</tbody>
	</table>