
<head>


</head>

<body>





<main class="dashboard">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <img src="../../../img/bg.jpg" class="img-responsive" alt="" />
        </div>
        <div class="overlay"></div>
    </header>
</main> 


</body>

