<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=1,initial-scale=1,user-scalable=1" />
	<title> Planner | Réne Lagos Engineers </title>

	<link
		href="http://fonts.googleapis.com/css?family=Lato:100italic,100,300italic,300,400italic,400,700italic,700,900italic,900"
		rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="contenido/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="contenido/css/styles.css" />
</head>

<body>

	<section class="container">
		<div class="row justify-content-center pt-5 mt-5 m-1">
			<div class="col-md-6  col-sm-8 col-xl-4 col-lg-5 formulario<!--mx-auto-->">
				<section class="login-form">
					<form method="POST" action="/signin2" id="form" role="login">
						<!-- <img src="contenido/images/logo_rene.jpg" class="img-responsive" alt="" style="width: 45%" /> -->
						<img src="contenido/images/logo2.png" class="img-responsive" alt="" style="width: 45%" />
						<input type="name" name="username" placeholder="Usuario" required
							class="form-control input-lg" />
						<input type="password" name="password" placeholder="Contraseña" required
							class="form-control input-lg" />
						<button type="submit" name="go" class="btn btn-lg btn-warning btn-block" style="color: #2c2b1f;">Iniciar sesión</button>
					</form>
				</section>
			</div>
		</div>
	</section>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<!-- <script src="contenido/bootstrap/js/bootstrap.min.js"></script> -->
</body>

</html>